* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  
}
body {
  width: 100%;
  height: 100vh;
  background: #293232;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* styling container */
.container {
  width: 90%;
  height: 70%;
  background: #B5B5B5C4;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}
.container h4{
  width: 100%;
  background: #0421d2d4;
  padding: 15px;
  font-size: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container h4 span {
  font-size: 35px;
  color: #000;
  margin-left: 10px;
}

.content {
  width: 100%;
  height: 80%;
  padding: 10px 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 15px;
}
.content div {
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c2c0c07d;
  font-size: 80px;
  font-weight: 900;
  transition: .2s ea;
}

.content div:active {
  background: #c2c0c0e3;
}

.className{
  animation: myClass .9s ease;
  animation-fill-mode: forwards;
}
.classname{
  animation: bol .9s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes bol {
  from{
    
  }
  to{
    background: radial-gradient(#08FBE6 40%,  #2FFB08);
    color: #0836FB;
  }
}
@keyframes myClass {
  from{
    
  }
  to{
    background: linear-gradient(35deg,#005AFF99, #005AFF);
    color: #3BFF00;
    box-shadow: -3px 5px 3px #00000070;
  }
}